ACCESS_KEY=KEY
ALLOWED_HOSTS=roblox.com,www.roblox.com,api.roblox.com,wiki.roblox.com,assetgame.roblox.com,avatar.roblox.com,groups.roblox.com,data.roblox.com,inventory.roblox.com,search.roblox.com,auth.roblox.com,avatar.roblox.com,billing.roblox.com,chat.roblox.com,develop.roblox.com,notifications.roblox.com,games.roblox.com
APPEND_HEAD=true
GZIP_METHOD=transform
REWRITE_ACCEPT_ENCODING=true
USE_OVERRIDE_STATUS=true
USE_WHITELIST=true
PORT=1337
